.PlayersListItem {
  list-style: none;
  display: block;
  padding: 0 0.66em;
}

.PlayersListItem-link {
  padding: 0.66em;
  border-top: 1px solid rgba(0,0,0,0.06);
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: background-color .2s ease;
}
.PlayersListItem-link:hover {
  text-decoration: none;
  background-color: rgba(0,0,0,0.02);
}

.PlayersListItem-avatar {
  flex: none;
  opacity: 0.8;
  width: 32px;
  height: 32px;
  margin-right: 0.66em;
  transition: opacity .2s ease;
}
:hover > .PlayersListItem-avatar {
  opacity: 1;
}

.PlayersListItem-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-right: 0.66em;
}

.PlayersListItem-name {
  flex: 1;
  padding: 7px 0 6px 0;
}
:hover > .PlayersListItem-name {
  text-decoration: underline;
}

.PlayersListItem-gender {
  flex: none;
  font-weight: bold;
}
