@keyframes WitchHuntBackground-in1 { from { opacity: 0; } to { opacity: 1; } }
@keyframes WitchHuntBackground-in2 { from { opacity: 0; } to { opacity: 1; } }

.WitchHuntBackground {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: fixed;
  animation: none 3s ease forwards;

  &::before {
    font-size: 10px;
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}

.WitchHuntBackground--village {
  animation-name: WitchHuntBackground-in1;
  background-image: url(./img/village.jpg);
  background-position: left bottom;
  &::before {
    content: "David Teniers the Younger. Village Revel With Aristocratic Couple. 1652. Musée du Louvre, Paris, France";
  }
}

.WitchHuntBackground--gallery {
  animation-name: WitchHuntBackground-in2;
  background-image: url(./img/gallery.jpg);
  background-position: center center;
  &::before {
    content: "David Teniers the Younger. The Gallery Of Archduke Leopold In Brussels. 1639. Staatsgalerie, Stuttgart, Germany";
  }
}

.WitchHuntBackground--twilight {
  animation-name: WitchHuntBackground-in2;
  background-image: url(./img/twilight.jpg);
  background-position: left bottom;
  &::before {
    content: "Adriaen Brouwer. Twilight Landscape. 1635. Musée du Louvre, Paris, France";
  }
}

.WitchHuntBackground--witches {
  animation-name: WitchHuntBackground-in2;
  background-image: url(./img/witches.jpg);
  background-position: 66% 66%;
  &::before {
    content: "David Teniers the Younger. Witches' Initiation. 1647. Akademie der bildenden Künste, Vienna";
  }
}

.WitchHuntBackground--static {
  animation-name: none;
}

/* reduce background image shifting when scroll chages viewport size */
@media (device-height: 480px) and (orientation: portrait) { .WitchHuntBackground { height: 480px; } }
@media (device-height: 568px) and (orientation: portrait) { .WitchHuntBackground { height: 568px; } }
@media (device-height: 667px) and (orientation: portrait) { .WitchHuntBackground { height: 667px; } }
@media (device-height: 736px) and (orientation: portrait) { .WitchHuntBackground { height: 736px; } }
@media (device-width: 320px) and (orientation: landscape) { .WitchHuntBackground { height: 320px; } }
@media (device-width: 375px) and (orientation: landscape) { .WitchHuntBackground { height: 375px; } }
@media (device-width: 414px) and (orientation: landscape) { .WitchHuntBackground { height: 414px; } }
