.WitchHuntView {
  visibility: visible;
  min-height: 100%;
  background: #444;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  padding: 44px 1em 1em 1em;
}

.WitchHuntView--night {
  background-color: #0b1e32;
  color: #5fb1ca;
}

.WitchHuntView--morning {
  background-color: #1365e0;
  color: #fefd91;
}

.WitchHuntView--afternoon {
  background-color: #4383bb;
  color: #111;
}

.WitchHuntView--evening {
  background-color: #ce8049;
  color: #1c1c1c;
}

.WitchHuntView-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  padding: 0.5em;
  text-align: center;
}

.WitchHuntView-home-link {
  position: absolute;
  top: 0.65em;
  left: 1em;
}

.WitchHuntView-title {
  color: inherit;
  margin: 0;
  font-size: 2rem;
}

.WitchHuntView-abandon {
  position: absolute;
  right: 0;
  top: 0.1em;
  text-shadow: inherit;
}

.WitchHuntPanel {
  position: relative;
  max-width: 960px;
  margin: 1em auto;
  border-radius: 1em;
  padding: 1em;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }
  & > h2 {
    color: inherit;
  }
}